*{
    font-family: arial;
}

section, .anadir_entrada, .contenedor_entrada_editar, .contenedor_entrada_editar_anadir_imagen {
    text-align: justify;
    margin: 10px;
    background-color: rgb(72, 151, 151);
    display: inline-block;
    border-radius: 30px;
    padding: 20px;
    border: 3px dashed  rgb(8, 8, 20);
}

ul{
    list-style-type: circle;
    padding-left: 20px;
}

form input, form textarea{
    width: 100%;
    border-radius: 7px;
}

form textarea{
    height: 100px;
}

input[type=submit]{
    background-color:  rgb(45, 99, 99);
    border-color: rgb(22, 49, 49);
}

a{
    color: rgb(14, 14, 36);
    text-decoration: none;
    font-size: 100%;
}

h1{
    color: rgb(10, 10, 26);
    margin-top: 0;
    text-align: center;
}

.anadir_entrada h1{
    text-align: justify;
}

.botones_volver_atras{
    font-weight: bold;
    margin-left: 25px;
    background-color: rgb(60, 117, 117);
    padding: 3px 8px;
    border: 3px solid;
    border-radius: 30px;
}

.contenedor_entrada_blog{
    border: 3px solid rgb(8, 8, 20);
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(100, 179, 179);
}

.contenedor_entrada_editar{
    min-width: 250px;
}

.contenedor_entrada_editar_anadir_imagen{
    text-align: left;
    width: 250px;
}