form {
    font-family: arial;
    margin: 20px;
    background-color: rgb(72, 151, 151);
    display: inline-block;
    border-radius: 30px;
    padding: 40px;
    border: 3px dashed;
}
form input, form textarea{
    width: 100%;
}
form textarea{
    height: 100px;
    border-radius: 7px;
}
form h1{
    margin-top: 0;
}